.card-image3,
.card-link,
.card-link1,
.overlayshadow-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-link,
.card-link1 {
  flex-direction: column;
  gap: 20px;
}
.card-image3,
.overlayshadow-group {
  flex-direction: row;
  max-width: 100%;
}
.overlayshadow-group {
  width: 845.6px;
  flex-wrap: wrap;
  gap: 20px 14px;
  min-height: 762px;
}
.card-image3 {
  gap: 16px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
@media screen and (max-width: 1600px) {
  .card-image3 {
    flex-wrap: wrap;
  }
}
