.container-icon4 {
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.testimonial-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 22px 0 20px;
}
.list-icon3 {
  height: 16px;
  width: 89.6px;
  position: relative;
}
.list-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.bytesimcom-provides-high-qual1,
.for-my-europe1 {
  display: block;
}
.bytesimcom-provides-high-qual-container1 {
  margin: 0;
  position: relative;
  line-height: 20.21px;
}
.testimonial-elements {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.7px;
}
.kerry-jp1,
.testimonial-authors {
  display: flex;
  justify-content: center;
}
.kerry-jp1 {
  width: 145px;
  position: relative;
  line-height: 20.21px;
  align-items: center;
  flex-shrink: 0;
}
.testimonial-authors {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 6px;
  color: rgba(41, 37, 44, 0.6);
}
.container-icon5,
.item5 {
  overflow: hidden;
  flex-shrink: 0;
}
.item5 {
  width: 453.3px;
  border-radius: 20px;
  border: 1px solid #ccf0e9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 47px 38px 169px;
  gap: 30px;
  debug_commit: bf4bc93;
  max-width: 100%;
}
.container-icon5 {
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: 40px;
  object-fit: cover;
}
.container-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 22px 0 20px;
}
.list-icon4 {
  height: 16px;
  width: 89.6px;
  position: relative;
}
.list-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.conscientious-boss-will1,
.good-and-the1,
.i-have-used1,
.many-friends-i1 {
  display: block;
}
.i-have-used-container1 {
  margin: 0;
  height: 80.8px;
  position: relative;
  line-height: 20.21px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-parent13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.7px;
}
.lagana-martin1 {
  position: relative;
  line-height: 20.21px;
}
.lagana-martin-us-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 6px;
  color: rgba(41, 37, 44, 0.6);
}
.container-icon6,
.item6 {
  overflow: hidden;
  flex-shrink: 0;
}
.item6 {
  width: 453.3px;
  border-radius: 20px;
  border: 1px solid #ccf0e9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 47px 34px 129px;
  gap: 30px;
  debug_commit: bf4bc93;
  max-width: 100%;
}
.container-icon6 {
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: 40px;
  object-fit: cover;
}
.container-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.list-icon5 {
  height: 16px;
  width: 89.6px;
  position: relative;
}
.list-wrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 22px 0 20px;
}
.attitude-is-very,
.cheaper-than-my,
.i-have-been,
.network-speed-is,
.than-100-pieces {
  display: block;
}
.i-have-been-container {
  margin: 0;
  position: relative;
  line-height: 20.21px;
}
.frame-parent14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.7px;
}
.roosy-bilan {
  width: 188.3px;
  position: relative;
  line-height: 20.21px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.roosy-bilan-ca-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 5px;
  color: rgba(41, 37, 44, 0.6);
}
.item7 {
  width: 453.3px;
  border-radius: 20px;
  border: 1px solid #ccf0e9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 47px 31px 109px;
  gap: 29.9px;
}
.container28,
.item10,
.item7,
.item8,
.item9 {
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
}
.item10,
.item8,
.item9 {
  height: 437.8px;
  width: 453.3px;
  position: relative;
  border-radius: 20px;
  border: 1px solid #ccf0e9;
  overflow: hidden;
}
.container28 {
  width: 1400px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px 0;
  gap: 20px;
  z-index: 1;
  text-align: center;
  font-size: 13.5px;
  color: #29252c;
  font-family: Poppins;
}
@media screen and (max-width: 900px) {
  .container28 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .item5 {
    gap: 15px;
    padding-bottom: 110px;
  }
  .item5,
  .item6,
  .item7 {
    padding-top: 31px;
    box-sizing: border-box;
  }
  .item6 {
    gap: 15px;
    padding-bottom: 84px;
  }
  .item7 {
    padding-bottom: 71px;
  }
}
